.game{
	width: 900px;
	height: 400px;
    background-image: url("images/lawn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}


.control{
	width: 200px;
	height: 80px;
	border: 1px solid black;
	text-align: center;
	position: fixed;
	left: 300px;
}

.mushroom{
	width:50px;
	height:50px;
	position: absolute;
	left: 700px;
	top:200px;
}
